@model IEnumerable<EstacionamentoWeb.Models.Usuario>
@{ ViewData["Title"] = "Projeto Estacionamento"; }

<div>
    <aside class="autenticacao">
        <a asp-action="Cadastrar" asp-controller="Usuario" target="_blank" class="botao btn btn-info">Usuário NOVO</a>
        <a asp-action="Login" asp-controller="Usuario" class="botao btn btn-primary">Já tenho cadastro!</a>
        <a asp-action="Cadastrar" asp-controller="UsuarioCNPJ" target="_blank" class="botao btn btn-info">Usuário CNPJ NOVO</a>
        <a asp-action="Cadastrar" asp-controller="Estacionamento" target="_blank" class="botao btn btn-info">Cadastrar estacionamento</a>
        <a asp-action="Index" asp-controller="Veiculos" target="_blank" class="botao btn btn-info">Cadastrar veículo</a>
        <a asp-action="Cadastrar" asp-controller="Estacionar" target="_blank" class="botao btn btn-info">Estacionar</a>
        <a asp-action="Retirar" asp-controller="Estacionar" target="_blank" class="botao btn btn-info">Retirar Veículo Estacionado</a>
    </aside>
</div>
<div class="carro">
    <h2> Proprietario de veiculos</h2>
    <img src="~/images/veiculo.jpg" alt="Estacionamento com veiculos">
    <p> Com o Estacionamento Web, o motorista não usará mais o cartão físico de papel e o ticket de estacionamento será digital. O usuário pode pagar o estacionamento de maneira fácil, prática e segura..</p>
</div>

<div class="estacionamento">
    <h2> Proprietario de Estacionamento</h2>
    <img src="~/images/est.jpg" alt="Estacionamento com veiculos">
    <p> Com o Estacionamento Web, o estacionamento não usará mais o cartão físico de papel e o ticket de estacionamento será digital. O estacionamento terá redução de custos e aumento de receita para o seu negócio.</p>
</div>






